<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <title>My movies</title>
</head>
<body>
    <header>
        <div class="logo container">
            <img src="images/logo.png" alt="Online movies">
        </div>
    </header>
    <div class="container">
        <nav>
            <ul>
                <li class="active">New release <%= coucou %></li>
                <li>Most popular</li>
                <li>Genres</li>
                <li>Blog</li>
                <li>Contact</li>
            </ul>
            <h1>Watch your favorite movies online</h1>
        </nav>


        <div class="myFavoriteMovies">
            <div class="myList">
                <h3 class="greyBg">My favorite movies</h3>
                <ul>
                    <li>
                        <form action="" method="">
                            <img src="images/movies.png" alt="movie" class="popcorn" />
                            <div class="title">My title</div>
                            <div class="line">
                                <span>Year:</span>
                                <span class="orange">Year</span>
                            </div>
                            <div class="line">
                                <span>Director:</span>
                                <span class="orange">Director</span>
                            </div>
                            <button type="submit" value="Submit" class="trash"><img src="images/trash.png" alt="Delete movie" /></button>
                        </form>
                    </li>
                    <li>
                        <form action="" method="">
                            <img src="images/movies.png" alt="movie" class="popcorn" />
                            <div class="title">My title</div>
                            <div class="line">
                                <span>Year:</span>
                                <span class="orange">Year</span>
                            </div>
                            <div class="line">
                                <span>Director:</span>
                                <span class="orange">Director</span>
                            </div>
                            <button type="submit" value="Submit" class="trash"><img src="images/trash.png" alt="Delete movie" /></button>
                        </form>
                    </li>
                    <li>
                        <form action="" method="">
                            <img src="images/movies.png" alt="movie" class="popcorn" />
                            <div class="title">My title</div>
                            <div class="line">
                                <span>Year:</span>
                                <span class="orange">Year</span>
                            </div>
                            <div class="line">
                                <span>Director:</span>
                                <span class="orange">Director</span>
                            </div>
                            <button type="submit" value="Submit" class="trash"><img src="images/trash.png" alt="Delete movie" /></button>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="form">
                <h3 class="orangeBg">Add to my list</h3>
                <form  action="#" method="post">
                    <div class="line">
                        <label for="">Title :</label>
                        <input type="text" name="" id="" />
                    </div>
                    <div class="line">
                        <label for="">Year :</label>
                        <input type="text" name="" id="" />
                    </div>
                    <div class="line">
                        <label for="">Director :</label>
                        <input type="text" name="" id="" />
                    </div>
                    <button type="submit" value="Add to my list" class="addButton">Add to my list</button>
                </form>
            </div>
        </div>

        <hr />


        <h2>Top 6 films</h2>
        <div class="moviesList">
            <div>
                <img src="images/homefront.png" alt="Homefront" />
                <p class="title">Homefront</p>
                <p class="year">(2013)</p>
            </div>
            <div>
                <img src="images/theCounselor.png" alt="The counselor" />
                <p class="title">The counselor</p>
                <p class="year">(2013)</p>
            </div>
            <div>
                <img src="images/afterEarth.png" alt="After Earth" />
                <p class="title">After Earth</p>
                <p class="year">(2013)</p>
            </div>
            <div>
                <img src="images/americanHustle.png" alt="American Hustle" />
                <p class="title">American Hustle</p>
                <p class="year">(2013)</p>
            </div>
            <div>
                <img src="images/acod.png" alt="A.C.O.D." />
                <p class="title">A.C.O.D.</p>
                <p class="year">(2013)</p>
            </div>
            <div>
                <img src="images/anchoMan.png" alt="anchoMan" />
                <p class="title">anchoMan 2</p>
                <p class="year">(2013)</p>
            </div>
        </div>
    </div>
</body>
</html>